# Weighted average days on covers

In [ ]:
### TODO: Provide live feed instead of just pulling in .csv
# https://github.com/rchen8/nexus-mutual-tracker

In [2]:
# bring in csv
active_covers_expiration = pd.read_csv('../raw_data/active_cover_amount_by_expiration_date.csv')
active_covers_expiration

              Unnamed: 0           USD            ETH
0    2022-11-16 12:59:25  1.562828e+08  127152.196137
1    2022-11-16 20:50:09  1.562364e+08  127114.448712
2    2022-11-17 18:55:23  1.530314e+08  124506.857410
3    2022-11-18 01:21:33  1.529684e+08  124455.605519
4    2022-11-18 07:29:23  1.528784e+08  124382.388531
..                   ...           ...            ...
562  2023-11-15 08:07:47  6.616230e+04      53.829876
563  2023-11-15 08:09:11  4.158030e+04      33.829876
564  2023-11-15 15:11:35  3.051840e+04      24.829876
565  2023-11-15 21:13:59  1.699830e+04      13.829876
566  2023-11-15 22:37:47  0.000000e+00       0.000000

[567 rows x 3 columns]

In [3]:
# rename columns
active_covers_expiration.columns = ['exp_time', 'USD', 'ETH']
active_covers_expiration

                exp_time           USD            ETH
0    2022-11-16 12:59:25  1.562828e+08  127152.196137
1    2022-11-16 20:50:09  1.562364e+08  127114.448712
2    2022-11-17 18:55:23  1.530314e+08  124506.857410
3    2022-11-18 01:21:33  1.529684e+08  124455.605519
4    2022-11-18 07:29:23  1.528784e+08  124382.388531
..                   ...           ...            ...
562  2023-11-15 08:07:47  6.616230e+04      53.829876
563  2023-11-15 08:09:11  4.158030e+04      33.829876
564  2023-11-15 15:11:35  3.051840e+04      24.829876
565  2023-11-15 21:13:59  1.699830e+04      13.829876
566  2023-11-15 22:37:47  0.000000e+00       0.000000

[567 rows x 3 columns]

In [7]:
# convert expiry time from string to datetime
active_covers_expiration['exp_time'] = pd.to_datetime(active_covers_expiration['exp_time'])
active_covers_expiration.dtypes

exp_time    datetime64[ns]
USD                float64
ETH                float64
dtype: object

In [8]:
# create a 'days remaining column by subtracting today's date in datetime format
active_covers_expiration['days_remaining'] = active_covers_expiration['exp_time']-pd.Timestamp.now().normalize()
active_covers_expiration

               exp_time           USD            ETH    days_remaining
0   2022-11-16 12:59:25  1.562828e+08  127152.196137   0 days 12:59:25
1   2022-11-16 20:50:09  1.562364e+08  127114.448712   0 days 20:50:09
2   2022-11-17 18:55:23  1.530314e+08  124506.857410   1 days 18:55:23
3   2022-11-18 01:21:33  1.529684e+08  124455.605519   2 days 01:21:33
4   2022-11-18 07:29:23  1.528784e+08  124382.388531   2 days 07:29:23
..                  ...           ...            ...               ...
562 2023-11-15 08:07:47  6.616230e+04      53.829876 364 days 08:07:47
563 2023-11-15 08:09:11  4.158030e+04      33.829876 364 days 08:09:11
564 2023-11-15 15:11:35  3.051840e+04      24.829876 364 days 15:11:35
565 2023-11-15 21:13:59  1.699830e+04      13.829876 364 days 21:13:59
566 2023-11-15 22:37:47  0.000000e+00       0.000000 364 days 22:37:47

[567 rows x 4 columns]

In [9]:
# turn the days remaining column to an integer value by dividing by a timedelta day object
active_covers_expiration['days_remaining'] = active_covers_expiration['days_remaining']/np.timedelta64(1, 'D')
active_covers_expiration

               exp_time           USD            ETH  days_remaining
0   2022-11-16 12:59:25  1.562828e+08  127152.196137        0.541262
1   2022-11-16 20:50:09  1.562364e+08  127114.448712        0.868160
2   2022-11-17 18:55:23  1.530314e+08  124506.857410        1.788461
3   2022-11-18 01:21:33  1.529684e+08  124455.605519        2.056632
4   2022-11-18 07:29:23  1.528784e+08  124382.388531        2.312072
..                  ...           ...            ...             ...
562 2023-11-15 08:07:47  6.616230e+04      53.829876      364.338738
563 2023-11-15 08:09:11  4.158030e+04      33.829876      364.339711
564 2023-11-15 15:11:35  3.051840e+04      24.829876      364.633044
565 2023-11-15 21:13:59  1.699830e+04      13.829876      364.884711
566 2023-11-15 22:37:47  0.000000e+00       0.000000      364.942905

[567 rows x 4 columns]

In [13]:
(active_covers_expiration['USD']*active_covers_expiration['days_remaining'])/active_covers_expiration['USD'].sum()

0      0.002420
1      0.003880
2      0.007829
3      0.008999
4      0.010111
         ...
562    0.000690
563    0.000433
564    0.000318
565    0.000177
566    0.000000
Length: 567, dtype: float64

In [14]:
#calculate weighted average minutes remaining based on cover amount
wavg_days = ((active_covers_expiration['USD']*active_covers_expiration['days_remaining'])
                /active_covers_expiration['USD'].sum()).sum()
wavg_days

50.22900715192461