# Weighted average days on covers

## Weighted average of expiry graph

In [1]:
# bring in csv
active_covers_expiration = pd.read_csv('../raw_data/active_cover_amount_by_expiration_date.csv')
active_covers_expiration

              Unnamed: 0           USD            ETH
0    2022-12-15 16:29:35  1.568195e+08  121864.992913
1    2022-12-15 18:50:11  1.553197e+08  120699.454342
2    2022-12-15 20:33:35  1.552447e+08  120641.177413
3    2022-12-16 12:03:30  1.552434e+08  120640.177413
4    2022-12-16 15:10:40  1.551147e+08  120540.177413
..                   ...           ...            ...
522  2023-12-01 00:19:35  1.637727e+06    1272.683360
523  2023-12-01 19:17:47  1.627728e+06    1264.913103
524  2023-12-04 10:39:23  1.625154e+06    1262.913103
525  2023-12-04 17:45:47  1.621405e+06    1259.999257
526  2023-12-13 17:18:23  0.000000e+00       0.000000

[527 rows x 3 columns]

In [2]:
# rename columns
active_covers_expiration.columns = ['exp_time', 'USD', 'ETH']
active_covers_expiration

                exp_time           USD            ETH
0    2022-12-15 16:29:35  1.568195e+08  121864.992913
1    2022-12-15 18:50:11  1.553197e+08  120699.454342
2    2022-12-15 20:33:35  1.552447e+08  120641.177413
3    2022-12-16 12:03:30  1.552434e+08  120640.177413
4    2022-12-16 15:10:40  1.551147e+08  120540.177413
..                   ...           ...            ...
522  2023-12-01 00:19:35  1.637727e+06    1272.683360
523  2023-12-01 19:17:47  1.627728e+06    1264.913103
524  2023-12-04 10:39:23  1.625154e+06    1262.913103
525  2023-12-04 17:45:47  1.621405e+06    1259.999257
526  2023-12-13 17:18:23  0.000000e+00       0.000000

[527 rows x 3 columns]

In [3]:
# convert expiry time from string to datetime
active_covers_expiration['exp_time'] = pd.to_datetime(active_covers_expiration['exp_time'])
active_covers_expiration.dtypes

exp_time    datetime64[ns]
USD                float64
ETH                float64
dtype: object

In [4]:
# create a 'days remaining column by subtracting today's date in datetime format
active_covers_expiration['days_remaining'] = active_covers_expiration['exp_time']-pd.Timestamp.now().normalize()
active_covers_expiration

               exp_time           USD            ETH    days_remaining
0   2022-12-15 16:29:35  1.568195e+08  121864.992913   0 days 16:29:35
1   2022-12-15 18:50:11  1.553197e+08  120699.454342   0 days 18:50:11
2   2022-12-15 20:33:35  1.552447e+08  120641.177413   0 days 20:33:35
3   2022-12-16 12:03:30  1.552434e+08  120640.177413   1 days 12:03:30
4   2022-12-16 15:10:40  1.551147e+08  120540.177413   1 days 15:10:40
..                  ...           ...            ...               ...
522 2023-12-01 00:19:35  1.637727e+06    1272.683360 351 days 00:19:35
523 2023-12-01 19:17:47  1.627728e+06    1264.913103 351 days 19:17:47
524 2023-12-04 10:39:23  1.625154e+06    1262.913103 354 days 10:39:23
525 2023-12-04 17:45:47  1.621405e+06    1259.999257 354 days 17:45:47
526 2023-12-13 17:18:23  0.000000e+00       0.000000 363 days 17:18:23

[527 rows x 4 columns]

In [5]:
# turn the days remaining column to an integer value by dividing by a timedelta day object
active_covers_expiration['days_remaining'] = active_covers_expiration['days_remaining']/np.timedelta64(1, 'D')
active_covers_expiration

               exp_time           USD            ETH  days_remaining
0   2022-12-15 16:29:35  1.568195e+08  121864.992913        0.687211
1   2022-12-15 18:50:11  1.553197e+08  120699.454342        0.784850
2   2022-12-15 20:33:35  1.552447e+08  120641.177413        0.856655
3   2022-12-16 12:03:30  1.552434e+08  120640.177413        1.502431
4   2022-12-16 15:10:40  1.551147e+08  120540.177413        1.632407
..                  ...           ...            ...             ...
522 2023-12-01 00:19:35  1.637727e+06    1272.683360      351.013600
523 2023-12-01 19:17:47  1.627728e+06    1264.913103      351.804016
524 2023-12-04 10:39:23  1.625154e+06    1262.913103      354.444016
525 2023-12-04 17:45:47  1.621405e+06    1259.999257      354.740127
526 2023-12-13 17:18:23  0.000000e+00       0.000000      363.721100

[527 rows x 4 columns]

In [6]:
(active_covers_expiration['USD']*active_covers_expiration['days_remaining'])/active_covers_expiration['USD'].sum()

0      0.003556
1      0.004022
2      0.004388
3      0.007696
4      0.008355
         ...
522    0.018968
523    0.018894
524    0.019006
525    0.018978
526    0.000000
Length: 527, dtype: float64

In [7]:
#calculate weighted average minutes remaining based on cover amount
wavg_days = ((active_covers_expiration['USD']*active_covers_expiration['days_remaining'])
                /active_covers_expiration['USD'].sum()).sum()
wavg_days

49.88553719734566

## Weighted average of covers themselves

In [9]:
# bring in csv
all_covers = pd.read_csv('../raw_data/all_covers.csv')
all_covers

,address,cover_id,end_time,currency,amount,project,block_number,start_time,premium,amount_usd,premium_usd
0,0xc0a47dfe034b400b47bdad5fecda2621de6c4d95,84,2020-10-02 04:56:05,ETH,1.0,Uniswap v1,8667271,2019-10-03 04:56:05,0.012991,1.286830e+03,16.717340
1,0xc0a47dfe034b400b47bdad5fecda2621de6c4d95,93,2020-03-15 15:55:29,ETH,12.0,Uniswap v1,8759426,2019-10-17 15:55:29,0.064066,1.544196e+04,82.441676
2,0xc0a47dfe034b400b47bdad5fecda2621de6c4d95,98,2020-04-02 20:17:23,ETH,12.0,Uniswap v1,8873386,2019-11-04 20:17:23,0.064066,1.544196e+04,82.441676
3,0xc0a47dfe034b400b47bdad5fecda2621de6c4d95,100,2020-04-06 09:33:17,ETH,14.0,Uniswap v1,8895454,2019-11-08 09:33:17,0.074743,1.801562e+04,96.181955
4,0xc0a47dfe034b400b47bdad5fecda2621de6c4d95,106,2020-02-12 23:06:33,ETH,54.0,Uniswap v1,8935109,2019-11-14 23:06:33,0.172977,6.948882e+04,222.592524
...,...,...,...,...,...,...,...,...,...,...,...
8107,0x1f98431c8ad98523631ae4a59f267346ea31f984,8108,2023-03-14 01:28:59,ETH,1070.0,Uniswap v3,16179655,2022-12-14 01:28:59,6.855031,1.376908e+06,8821.259285
8108,0xba12222222228d8ba445958a75a0704d566bf2c8,8109,2023-03-14 01:29:59,ETH,550.0,Balancer v2,16179660,2022-12-14 01:29:59,3.523614,7.077565e+05,4534.292156
8109,0x0000000000000000000000000000000000000031,8110,2023-01-13 12:24:35,DAI,235000.0,Aura,16182915,2022-12-14 12:24:35,501.848049,2.349765e+05,501.797864
8110,0x3d6ba331e3d9702c5e8a8d254e5d8a285f223aba,8111,2023-01-13 14:03:23,DAI,507429.0,GMX,16183403,2022-12-14 14:03:23,1083.626612,5.073783e+05,1083.518249
8111,0x1f98431c8ad98523631ae4a59f267346ea31f984,8112,2023-01-14 09:41:23,ETH,3.0,Uniswap v3,16189265,2022-12-15 09:41:23,0.006407,3.860490e+03,8.244168

In [11]:
# convert expiry time from string to datetime
all_covers['end_time'] = pd.to_datetime(all_covers['end_time'])
all_covers.dtypes

address                 object
cover_id                 int64
end_time        datetime64[ns]
currency                object
amount                 float64
project                 object
block_number             int64
start_time              object
premium                float64
amount_usd             float64
premium_usd            float64
dtype: object

In [15]:
# create active cover table by filtering those with an end time greater than now()
active_covers = all_covers[all_covers['end_time'] > pd.Timestamp.now()]

In [17]:
# create a 'days remaining' column by subtracting today's date in datetime format
active_covers['days_remaining'] = active_covers['end_time']-pd.Timestamp.now().normalize()
active_covers

/tmp/ipykernel_694/2879904248.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  active_covers['days_remaining'] = active_covers['end_time']-pd.Timestamp.now().normalize()

,address,cover_id,end_time,currency,amount,project,block_number,start_time,premium,amount_usd,premium_usd,days_remaining
307,0x5b67871c3a857de81a1ca0f9f7945e5670d986dc,363,2023-03-30 22:27:11,ETH,1000.0,Set Protocol,10389188,2020-07-03 22:27:11,35.592060,1.286830e+06,45800.930869,105 days 22:27:11
382,0xc57d000000000000000000000000000000000002,7491,2022-12-30 07:18:58,DAI,45000.0,BlockFi,14954734,2022-06-13 07:18:58,640.657084,4.499550e+04,640.593018,15 days 07:18:58
397,0xc57d000000000000000000000000000000000013,6603,2023-01-07 14:42:16,DAI,874000.0,Yield.app,13958928,2022-01-07 14:42:16,22708.446270,8.739126e+05,22706.175425,23 days 14:42:16
412,0xc57d000000000000000000000000000000000012,6647,2023-01-16 13:35:56,DAI,206625.0,Crypto.com,14016829,2022-01-16 13:35:56,5368.572895,2.066043e+05,5368.036038,32 days 13:35:56
413,0xc57d000000000000000000000000000000000003,6649,2023-01-17 01:29:59,DAI,43000.0,Nexo,14020105,2022-01-17 01:29:59,1117.234771,4.299570e+04,1117.123047,33 days 01:29:59
...,...,...,...,...,...,...,...,...,...,...,...,...
8107,0x1f98431c8ad98523631ae4a59f267346ea31f984,8108,2023-03-14 01:28:59,ETH,1070.0,Uniswap v3,16179655,2022-12-14 01:28:59,6.855031,1.376908e+06,8821.259285,89 days 01:28:59
8108,0xba12222222228d8ba445958a75a0704d566bf2c8,8109,2023-03-14 01:29:59,ETH,550.0,Balancer v2,16179660,2022-12-14 01:29:59,3.523614,7.077565e+05,4534.292156,89 days 01:29:59
8109,0x0000000000000000000000000000000000000031,8110,2023-01-13 12:24:35,DAI,235000.0,Aura,16182915,2022-12-14 12:24:35,501.848049,2.349765e+05,501.797864,29 days 12:24:35
8110,0x3d6ba331e3d9702c5e8a8d254e5d8a285f223aba,8111,2023-01-13 14:03:23,DAI,507429.0,GMX,16183403,2022-12-14 14:03:23,1083.626612,5.073783e+05,1083.518249,29 days 14:03:23
8111,0x1f98431c8ad98523631ae4a59f267346ea31f984,8112,2023-01-14 09:41:23,ETH,3.0,Uniswap v3,16189265,2022-12-15 09:41:23,0.006407,3.860490e+03,8.244168,30 days 09:41:23

In [18]:
# turn the days remaining column to an integer value by dividing by a timedelta day object
active_covers['days_remaining'] = active_covers['days_remaining']/np.timedelta64(1, 'D')
active_covers

/tmp/ipykernel_694/3879717282.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  active_covers['days_remaining'] = active_covers['days_remaining']/np.timedelta64(1, 'D')

,address,cover_id,end_time,currency,amount,project,block_number,start_time,premium,amount_usd,premium_usd,days_remaining
307,0x5b67871c3a857de81a1ca0f9f7945e5670d986dc,363,2023-03-30 22:27:11,ETH,1000.0,Set Protocol,10389188,2020-07-03 22:27:11,35.592060,1.286830e+06,45800.930869,105.935544
382,0xc57d000000000000000000000000000000000002,7491,2022-12-30 07:18:58,DAI,45000.0,BlockFi,14954734,2022-06-13 07:18:58,640.657084,4.499550e+04,640.593018,15.304838
397,0xc57d000000000000000000000000000000000013,6603,2023-01-07 14:42:16,DAI,874000.0,Yield.app,13958928,2022-01-07 14:42:16,22708.446270,8.739126e+05,22706.175425,23.612685
412,0xc57d000000000000000000000000000000000012,6647,2023-01-16 13:35:56,DAI,206625.0,Crypto.com,14016829,2022-01-16 13:35:56,5368.572895,2.066043e+05,5368.036038,32.566620
413,0xc57d000000000000000000000000000000000003,6649,2023-01-17 01:29:59,DAI,43000.0,Nexo,14020105,2022-01-17 01:29:59,1117.234771,4.299570e+04,1117.123047,33.062488
...,...,...,...,...,...,...,...,...,...,...,...,...
8107,0x1f98431c8ad98523631ae4a59f267346ea31f984,8108,2023-03-14 01:28:59,ETH,1070.0,Uniswap v3,16179655,2022-12-14 01:28:59,6.855031,1.376908e+06,8821.259285,89.061794
8108,0xba12222222228d8ba445958a75a0704d566bf2c8,8109,2023-03-14 01:29:59,ETH,550.0,Balancer v2,16179660,2022-12-14 01:29:59,3.523614,7.077565e+05,4534.292156,89.062488
8109,0x0000000000000000000000000000000000000031,8110,2023-01-13 12:24:35,DAI,235000.0,Aura,16182915,2022-12-14 12:24:35,501.848049,2.349765e+05,501.797864,29.517072
8110,0x3d6ba331e3d9702c5e8a8d254e5d8a285f223aba,8111,2023-01-13 14:03:23,DAI,507429.0,GMX,16183403,2022-12-14 14:03:23,1083.626612,5.073783e+05,1083.518249,29.585683
8111,0x1f98431c8ad98523631ae4a59f267346ea31f984,8112,2023-01-14 09:41:23,ETH,3.0,Uniswap v3,16189265,2022-12-15 09:41:23,0.006407,3.860490e+03,8.244168,30.403738

In [19]:
wavg_days = ((active_covers['amount_usd']*active_covers['days_remaining'])
                /active_covers['amount_usd'].sum()).sum()
wavg_days

71.61425646638045